




.requirements-title-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

  p {
    font-weight: 700;
  }
}

.single-requirement {
  display: flex;
  margin-bottom: 1rem;

  abbr {
    margin-right: 1rem;
  }
}














