



<app-alert *ngIf="messages.length" [messages]="messages" (closeAlert)="onClose()"></app-alert>

<main class="chat-container">

  <section class="side-menu">

    <section class="create-messages">
      <div class="create-messages__title">
        <h4>Messages</h4>
      </div>
      <div class="create-messages__buttons">
        <button (click)="onNewMessage(true)" type="button" class="create-messages__my-btn glyphicon glyphicon-edit">
        </button>
        <button (click)="onNewMessage(false)" type="button" class="create-messages__my-btn">
          <i class="glyphicon glyphicon-edit"></i>
          <i class="glyphicon glyphicon-edit"></i>
        </button>
      </div>
    </section>

    <section class="conversations-list-container">

      <div *ngIf="isLoading" class='flex-row-center'>
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf="!isLoading && conversations && conversations.length" #conversationList>
        <div *ngFor="let con of conversations; let i=index; trackBy: trackConversations"
              class="single-conversation
                    {{ getReadClass(con.participants) }}
                    {{ currConversation && currConversation._id === con._id ? 'active-con' : '' }}"
              (click)="onFocusCon($event.currentTarget)"
              [attr.data-con-ind]="i">
          <ul class='conversation__participants-list'>
            <li *ngFor="let participant of getParticipantsOtherThanUSer(con.participants); let i=index"
                class="conversation__participants-list__item">
              {{ i !== 2 ? getFullName(participant['user']) : '' }}</li>
          </ul>
        </div>
      </div>

      <p *ngIf="!isLoading && (!conversations || !conversations.length)" class="conversations-list-container__no-messages">
        No messages yet.
      </p>

    </section>

  </section>


  <section class="new-message" *ngIf="!currConversation">

    <header class="title">
      <h4>New {{ privateMsg ? '' : 'Group' }} Message</h4>
    </header>

    <section class="new-message__add-item">
      <app-search-bar [placeholder]="'Type one or more names'" [search]="['employee','company']" (wantedResultsEmitter)="onGetNames($event)"></app-search-bar>
    </section>

    <ng-container *ngTemplateOutlet="nameListTemplate; context: {removeName: true}"></ng-container>

    <ng-container *ngTemplateOutlet="submitTemplate;
      context: {
        formClass: 'new-message__message-form',
        inputBox: 'new-message__input-box',
        submitDiv: 'new-message__submit-message',
        filePreview: 'new-message__file-preview',
        messageContent: 'new-message__message-content'
      }"></ng-container>

  </section>

  <section class="chat" *ngIf="currConversation">
    <header class="title">
      <h4>Chat</h4>
    </header>

    <ng-container *ngTemplateOutlet="nameListTemplate; context: {removeName: false}"></ng-container>

    <section class="messages">
      <ul class='messages__list' appScrollToBottom>
        <li *ngFor="let msg of currConversation.messages"
              class="messages__list__item {{ msg.creator === user._id ? 'user-msg' : '' }}" [attr.data-date]="msg.first ? msg.first: ''">
          <p *ngIf="msg.creator !== user._id && !privateMsg"
            class="message message-name"
            [style.color]="nameList.get(msg.creator).nameColor['changingThisBreaksApplicationSecurity']">
              {{ nameList.get(msg.creator) ? nameList.get(msg.creator).fullName : getFullName(user) }}
          </p>
          <ng-container *ngTemplateOutlet="msg.filePath ? chatFileMessage : chatStringMessage;
              context: { msg: msg }">
          </ng-container>

        </li>
      </ul>
    </section>

    <ng-container *ngTemplateOutlet="submitTemplate;
      context: {
        formClass: 'chat__message-form',
        inputBox: 'chat__input-box',
        submitDiv: 'chat__submit-message',
        filePreview: 'chat-file-preview',
        messageContent: 'chat-message-content'
      }"></ng-container>

  </section>

</main>


<ng-template #chatStringMessage let-msg="msg">
  <p class="message message-content">{{ msg.content }}<time class="message-time" [dateTime]="msg.time">{{ msg.time }}</time></p>
</ng-template>

<ng-template #chatFileMessage let-msg="msg">
  <a href="{{msg.filePath}}" download="{{msg.fileName}}" target="_blank" class="message message-content">
    <span>{{ msg.fileName }}</span>
    <span>{{ getFileSize(msg.fileNumBytes) }}</span>
    <time class="message-time" [dateTime]="msg.time">{{ msg.time }}</time>
  </a>
</ng-template>



<ng-template #nameListTemplate let-removeName="removeName">
  <section class="name-list-container">
    <ul class='name-list-container__list'>
      <li *ngFor="let name of nameList | keyvalue; let i=index" class="name-list-container__item">
        {{ name.value.fullName || name.value.email}}
        <i *ngIf="removeName" class="glyphicon glyphicon-remove name-list-container__item-remove" (click)="onRemoveName(name.value._id)"></i>
      </li>
    </ul>
  </section>
</ng-template>

<ng-template #submitTemplate let-formClass="formClass" let-inputBox="inputBox"
                              let-submitDiv="submitDiv" let-filePreview="filePreview"
                              let-messageContent="messageContent">

  <form class="{{formClass}}" (ngSubmit)="onSubmit(sendMessageForm)" #sendMessageForm="ngForm">

    <div class="{{inputBox}}">
      <label for="messageContent"></label>
      <textarea
        ngModel
        #textarea
        required
        name="messageContent"
        class="{{messageContent}}"
        placeholder="Type your message here"></textarea>
      <div class="{{filePreview}}"></div>
    </div>

    <div class="{{submitDiv}}">
      <input type="file" class="input-upload-file" #inputUploadFile (change)='onChoseFile($event)'>
      <i class="glyphicon glyphicon-paperclip paperclip" (click)="uploadFile()"></i>
      <button class="submit-message__button"
        [disabled]="(!sendMessageForm.valid && !file) || !nameList.size"
        title="Ctrl + Enter"
        #submitChat>
        Send</button>
    </div>

  </form>

</ng-template>










