



<app-alert *ngIf="messages.length" [messages]="messages" (closeAlert)="onClose()"></app-alert>

<div class="chat-container">

  <div class="side-menu">

    <div class="create-messages">
      <div class="create-messages__title">
        <p>Messages</p>
      </div>
      <div class="create-messages__buttons">
        <button (click)="onNewMessage(true)" type="button" class="create-messages__my-btn glyphicon glyphicon-edit">
        </button>
        <button (click)="onNewMessage(false)" type="button" class="create-messages__my-btn">
          <span class="glyphicon glyphicon-edit"></span>
          <span class="glyphicon glyphicon-edit"></span>
        </button>
      </div>
    </div>

    <div class="conversations-list-container">

      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf="!isLoading && conversations && conversations.length">
        <div *ngFor="let con of conversations; let i=index" class="single-conversation" (click)="onFucosCon($event.currentTarget)" [attr.data-con-ind]="i">
          <ul class='conversation__participants-list'>
            <li *ngFor="let participant of con.participants.slice(0,3); let i=index" class="conversation__participants-list__item">
              {{ i !== 2 ? ( participant.user.name ?
                (participant.user.name | cut) :
                ((participant.user.firstName || '') + ' ' + (participant.user.lastName || '')) | trim | cut ) : '' }}</li>
          </ul>
        </div>
      </div>

      <p *ngIf="!isLoading && (!conversations || !conversations.length)" class="conversations-list-container__no-messages">
        No messages yet.
      </p>

    </div>

  </div>


  <div class="new-message" *ngIf="!currConversation">

    <div class="title">
        New {{ privateMsg ? '' : 'Group' }} Message
    </div>

    <div class="new-message__add-people">
      <app-search-bar [placeholder]="'Type one or more names'" [search]="['employee','company']" (nameListEmitter)="onGetNames($event)"></app-search-bar>
    </div>

    <ng-container *ngTemplateOutlet="nameListTemplate; context: {removeName: true}"></ng-container>

    <ng-container *ngTemplateOutlet="submitTemplate;
      context: {
        formClass: 'new-message__message-form',
        inputBox: 'new-message__input-box',
        submitDiv: 'new-message__submit-message',
        filePreview: 'new-message__file-preview',
        messageContent: 'new-message__message-content'
      }"></ng-container>

  </div>

  <div class="chat" *ngIf="currConversation">

    <div class="title">
      Chat
    </div>

    <ng-container *ngTemplateOutlet="nameListTemplate; context: {removeName: false}"></ng-container>

    <div class="messages">
      <ul class='messages__list' appScrollToBottom>
        <li *ngFor="let msg of currConversation.messages"
              class="messages__list__item {{ msg.creator === user._id ? 'user-msg' : '' }}" [attr.data-date]=" msg['first'] ? msg['first']: ''">
          <p *ngIf="msg.creator !== user._id && currConversation.participants.length > 1"
            class="message message-name"
            [style.color]="nameList.get(msg.creator).nameColor['changingThisBreaksApplicationSecurity']">
              {{ nameList.get(msg.creator) ? nameList.get(msg.creator).fullName : getFullName(user) }}
          </p>
          <ng-container *ngTemplateOutlet="msg.filePath ? chatFileMessage : chatStringMessage;
              context: { msg: msg }">
          </ng-container>

        </li>
      </ul>
    </div>

    <ng-container *ngTemplateOutlet="submitTemplate;
      context: {
        formClass: 'chat__message-form',
        inputBox: 'chat__input-box',
        submitDiv: 'chat__submit-message',
        filePreview: 'chat-file-preview',
        messageContent: 'chat-message-content'
      }"></ng-container>

  </div>

</div>


<ng-template #chatStringMessage let-msg="msg">
  <p class="message message-content">{{ msg.content }}<span class="message-time">{{ msg['hours'] }}:{{ msg['minutes'] }}</span></p>
</ng-template>

<ng-template #chatFileMessage let-msg="msg">
  <a href="{{msg.filePath}}" download="" target="_blank" class="message message-content">
    <span>{{ msg.fileName }}</span>
    <span>{{ getFileSize(msg.fileNumBytes) }}</span>
    <span class="message-time">{{ msg['hours'] }}:{{ msg['minutes'] }}</span>
  </a>
</ng-template>



<ng-template #nameListTemplate let-removeName="removeName">
  <div class="name-list-container">
    <ul class='name-list-container__list'>
      <li *ngFor="let name of nameList | keyvalue; let i=index" class="name-list-container__item">
        {{ name.value.fullName }}
        <span *ngIf="removeName" class="glyphicon glyphicon-remove name-list-container__item-remove" (click)="onRemoveName(name.value._id)"></span>
      </li>
    </ul>
  </div>
</ng-template>

<ng-template #submitTemplate let-formClass="formClass" let-inputBox="inputBox"
                              let-submitDiv="submitDiv" let-filePreview="filePreview"
                              let-messageContent="messageContent">
  <form class="{{formClass}}" (ngSubmit)="onSubmit(sendMessageForm)" #sendMessageForm="ngForm">
    <div class="{{inputBox}}">
      <label for="messageContent"></label>
      <textarea
        ngModel
        #textarea
        required
        name="messageContent"
        class="{{messageContent}}"
        placeholder="Type your message here"></textarea>
      <div class="{{filePreview}}"></div>
    </div>

    <div class="{{submitDiv}}">
      <input type="file" class="input-upload-file" #inputUploadFile (change)='onChoseFile($event)'>
      <span class="glyphicon glyphicon-paperclip paperclip" (click)="uploadFile()"></span>
      <button class="submit-message__button"
        [disabled]="(!sendMessageForm.valid && !file) || !nameList.size"
        title="Ctrl + Enter"
        #submitChat>
        Send</button>
    </div>
  </form>
</ng-template>










