.name-list-container__list,
.conversation__participants-list,
.messages__list {
  list-style: none;
  padding: 0.5rem 1.2rem;
  display: flex;
  margin: 0;
  overflow: auto;
}

.chat-container {
  display: flex;
  flex-direction: row; // default
  flex-wrap: nowrap; // default
  align-items: stretch; // default
  justify-content: center;
  margin: 0 2rem;
  height: calc(100vh - 120px); // minus body margin
  width: calc(100vw - 4rem); // minus owns margin
  min-height: 21.7rem;
  min-width: 40rem;
  border: 1px solid #8080805e;
}

/****************************
*****************************
        side menu
*****************************
****************************/

.side-menu {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border-right: 1px solid #8080805e;
}

/****************************
*****************************
side menu - create messages
*****************************
****************************/

.create-messages {
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #efefef;
  min-height: 3rem;
  border-bottom: 1px solid #8080805e;
  justify-content: space-between;
  align-items: center;
}

.create-messages__title,
.create-messages__buttons {
  margin: auto;
}

.create-messages__my-btn {
  height: max-content;
  background: transparent;
  border: none;
}

/****************************
*****************************
side menu - conversations-list
*****************************
****************************/

.conversations-list-container {
  width: 100%;
  height: 92%;
  background-color: #efefef;
  border-top: 1px solid #8080805e;
  overflow: auto;
  scrollbar-width: thin;
  z-index: 0;
}

.conversations-list-container__no-messages {
  margin: auto;
  font-size: large;

  @media (max-width: 550px) {
    font-size: unset;
  }
}

.single-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #8080805e;
  cursor: pointer;

  &:hover,
  &:active {
    &:not(.active-con) {
      height: 8rem;
      background-color: #7777772b;
    }
  }
}

.conversation__participants-list {
  max-height: 8rem;

  @media (max-width: 750px) {
    max-height: 5rem;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
  }
}

.conversation__participants-list__item {
  margin-right: 0.6rem;
  text-align: center;

  &::after {
    content: ",";

    @media (max-width: 750px) {
      content: "";
    }
  }

  &:nth-child(n + 2) {
    &::after {
      content: " ...";
    }
  }

  &:last-child {
    &::after {
      content: "";
    }
  }
}

.active-con {
  height: 8rem;
  background-color: #7777775e;
}

/****************************
*****************************
        new message
*****************************
****************************/

.new-message,
.chat {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  border-left: 1px solid #8080805e;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 8%;
  background-color: #f2f2f29c;
  min-height: 3rem;
  border-bottom: 1px solid #8080805e;

  @media (max-height: 350px) {
    display: none;
  }
}

/****************************
*****************************
new message - add people
*****************************
****************************/

.new-message__add-people {
  width: 100%;
  height: 10%;
  background-color: #f2f2f29c;
  min-height: 3rem;
  border-top: 1px solid #8080805e;
  border-bottom: 1px solid #8080805e;
}

/****************************
*****************************
new message - name list
*****************************
****************************/

.name-list-container {
  width: 100%;
  height: 8%;
  min-height: 4.5rem;
  border-top: 1px solid #8080805e;
  border-bottom: 1px solid #8080805e;
  display: flex;
  align-items: center;
  scrollbar-width: thin;
  justify-content: center;
}

.name-list-container__item {
  padding: 0 0.5rem;
  border: 0.5px solid gray;
  border-radius: 1.5rem;
  margin: 0 0.5rem;
  text-align: center;
  background: #f2f2f29c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-list-container__item-remove {
  position: relative;
  right: 3px;
  top: 2px;
  float: right;
  cursor: pointer;
}

/****************************
*****************************
new message - message form
*****************************
****************************/

.new-message__message-form {
  height: 74%;
  min-height: 11rem;
  display: flex;
  flex-direction: column;
}

.new-message__input-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  background-color: #f2f2f29c;
  border-top: 1px solid #8080805e;
  min-height: 8rem;
  flex-grow: 1;

  label {
    display: none;
  }

  @media (max-height: 500px) {
    height: 57%;
  }
}

.new-message__message-content,
.chat-message-content {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  flex-grow: 1;

  @media (max-height: 355px) {
    height: auto;
  }
}

.chat-message-content {
  padding: 1.2rem;
}

.chat-file-preview {
}

.new-message__file-preview {
  &::after {
    content: "";
    border-bottom: 1px solid #8080805e;
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

.file-message-container {
  position: relative;
  bottom: 8%;
  background-color: #efefef;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid white;

  &:last-child {
    margin-bottom: 2px;
  }

  > span {
    &.glyphicon {
      cursor: pointer;
    }
  }
}

.new-message__submit-message {
  height: 20%;
  display: flex;
  align-items: center;
  min-height: 3rem;
  justify-content: space-around;

  @media (max-height: 500px) {
    height: 43%;
  }

  @media (max-height: 355px) {
    height: 3rem;
    height: min(43%, 3rem);
  }
}

.input-upload-file {
  display: none;
}

.paperclip {
  cursor: pointer;
}

/****************************
*****************************
          chat
*****************************
****************************/

/****************************
*****************************
chat - messages
*****************************
****************************/

.messages {
  height: 69%;
  min-height: 5.5rem;
  border-bottom: 1px solid #8080805e;
  padding-bottom: 1rem;
}

.messages__list {
  height: 100%;
  flex-direction: column;
  overflow: auto;
  transform: rotate(0);
}

.messages__list__item {
  position: relative;
  margin: 3px 0;
  width: max-content;
  max-width: 55%;
  overflow-wrap: break-word;
  border-radius: 12px;
  padding: 6px;
  hyphens: auto;
  background: lightgreen;
  box-shadow: -2px 2px 0px;

  a {
    display: flex;
    flex-direction: column;
    color: navy;
    font-weight: bolder;
    span {
      &:first-child {
        padding-right: 5px;
      }
    }
  }

  &:last-child {
    &::after {
      content: "";
      display: block;
      height: 1px;
      bottom: -10px;
      position: relative;
    }
  }

  &:not([data-date=""]) {
    margin-top: 2rem;
    &::before {
      content: attr(data-date);
      display: block;
      width: max-content;
      position: absolute;
      bottom: 100%;
    }
  }

  &.user-msg {
    &:not([data-date=""]) {
      &::before {
        right: 0;
      }
    }

    :not(&) {
      &:not([data-date=""]) {
        &::before {
          left: 0;
        }
      }
    }
  }
}

.user-msg {
  background-color: #12a9cc8a !important;
  align-self: flex-end;
}

.message {
  margin: 0;
  font-size: 1.25rem;
}

.message-name {
  color: rgb(255, 0, 179);
  font-weight: bold;
}

.message-content {
  position: relative;

  &::after {
    content: "";
    padding-right: 5rem;
  }
}

.message-time {
  position: absolute;
  font-size: 0.95rem;
  right: 2px;
  bottom: -2px;
}

/****************************
*****************************
chat - form
*****************************
****************************/

.chat__message-form {
  height: 15%;
  min-height: 6.5rem;
  display: flex;
  align-items: center;

  @media (max-height: 355px) {
    min-height: 8.5rem;
  }
}

.chat__input-box {
  width: 80%;
  height: 100%;
  background-color: #f2f2f29c;
  display: flex;
  flex-direction: column;

  label {
    display: none;
  }
}

.chat__submit-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  justify-content: space-evenly;

  > .submit-message__button {
    right: 0.1rem;
  }

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.submit-message__button {
  position: relative;
  right: 2rem;
  background: #89d4ec;
  border-width: 1px;
  border-style: groove;
  border-radius: 15px;
  max-width: 10rem;
  width: 100%;
  font-size: 1.5rem;

  &:disabled {
    cursor: not-allowed;
    background: #89d4ec40;
  }

  @media (max-width: 650px) and (max-height: 355px) {
    right: 0;
  }

  @media (max-height: 355px) {
    width: auto;
  }
}
