
.company-profile-image-container {
  display: flex;
  flex-direction: column;
}

.company-images-container {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.add-image {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
}

.add-image > button {
  margin-right: 2rem;
}

.cropper-component {
  width: 50%;
}



@media (max-width: 650px) {
  .cropper-component {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .cropper-component {
    width: 33%;
  }
}
