<app-alert *ngIf="errorMessages.length" [messages]="errorMessages" (close)="onClose()"></app-alert>
<div class="container">
  <h4>{{ !this.company ? 'Register' : 'Edit' }}</h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="companyForm">
    <div class="row">
      <label for="name">name:  </label>
      <input 
        type="text" 
        formControlName="name"
        #name
      >
      <span class="help-block" *ngIf="!companyForm.get('name').valid && companyForm.get('name').touched">
        please enter a valid name
      </span>
    </div>
    <div class="row">
      <label for="website">website:  </label>
      <input 
        type="text" 
        formControlName="website"
        #website
      >
      <span class="help-block" *ngIf="!companyForm.get('website').valid && companyForm.get('website').touched">
        please enter a valid website
      </span>
    </div>
    <div class="row">
      <label for="description">description:  </label>
      <textarea 
        formControlName="description"
        #description
      ></textarea>
      <span class="help-block" *ngIf="!companyForm.get('description').valid && companyForm.get('description').touched">
        please enter a valid description
      </span>
    </div>
    <div class="row">
      <label for="image">Image URl</label>
      <div class="row">
        <input 
          #image
          type="file" 
          class="form-control image-upload-input col-xs-11"
          (change)="handleImageInput($event)">
        <span class="glyphicon glyphicon-remove btn btn-default col-xs-1" (click)="onRemoveImage()"></span>
      </div>
      <img *ngIf='imagePreview && companyForm.get("image").valid'
            class="image-preview" 
            [src]="imagePreview"/>
      <span class="help-block" 
            *ngIf="!companyForm.get('image').valid &&
                    companyForm.get('image').errors &&
                    companyForm.get('image').errors.invalidMimeType">
          please enter an image file (jpeg, png etc..)
      </span>
    </div>
    <hr>
    <button 
      type="submit" 
      class="btn btn-success"
      [disabled]="!companyForm.valid"
      >
      {{ !this.company ? 'Register' : 'Edit' }}
    </button>
    <button 
      type="button" 
      class="btn btn-danger"
      (click)="onCancel()"
      >
      Cancel
    </button>
    <!-- <button 
      type="button" 
      class="btn btn-danger"
      *ngIf="edit"
      (click)="onDelete()"
      >
      Delete
    </button> -->
  </form>
</div>




























<!-- 

<app-alert *ngIf="errorMessages.length" [messages]="errorMessages" (close)="onClose()"></app-alert>
<div class="container">
  <h4>{{ !this.company ? 'Register' : 'Edit' }}</h4>
  <form (ngSubmit)="onSubmit(companyForm)" #companyForm="ngForm">
    <div class="row">
      <label for="name">name:  </label>
      <input 
        type="text" 
        name="name" 
        id="name"
        required
        ngModel
        #name="ngModel"
      >
      <span class="help-block" *ngIf="!name.valid && name.touched">
        please enter a valid name
      </span>
    </div>
    <div class="row">
      <label for="website">website:  </label>
      <input 
        type="textarea" 
        name="website" 
        id="website"
        ngModel
        #website="ngModel"
      >
      <span class="help-block" *ngIf="!website.valid && website.touched">
        please enter a valid website
      </span>
    </div>
    <div class="row">
      <label for="description">description:  </label>
      <input 
        type="textarea" 
        name="description" 
        id="description"
        ngModel
        #description="ngModel"
      >
      <span class="help-block" *ngIf="!description.valid && description.touched">
        please enter a valid description
      </span>
    </div>
    <div class="row">
      <label for="image">Image URl</label>
      <input 
        type="file" 
        id="image"
        name="image"
        class="form-control image-upload-input"
        (change)="handleImageInput($event)"
        #image>
      <img *ngIf='uploadedImg && !imageError' class="image-upload-img" [src]="uploadedImg"/>
      <span class="help-block" *ngIf="imageError">
        {{ imageError }}
      </span>
    </div>
    <hr>
    <button 
      type="submit" 
      class="btn btn-success"
      [disabled]="!companyForm.form.valid"
      >
      {{ !this.company ? 'Register' : 'Edit' }}
    </button>
    <button 
      type="button" 
      class="btn btn-danger"
      (click)="onCancel()"
      >
      Cancel
    </button>
    <button 
      type="button" 
      class="btn btn-danger"
      *ngIf="edit"
      (click)="onDelete()"
      >
      Delete
    </button> 
  </form>
</div> -->
