/* You can add global styles to this file, and also import other style files */

/**************************
******* General ***********
**************************/

body {
  margin-top: 70px;
  margin-bottom: 50px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.container {
  min-width: 23rem;
}

/**************************
******* Forms *************
**************************/

.form-container {
  display: flex;
  justify-content: center;
}

.my-form {
  width: 100%;
  max-width: 60vw;

  @media (max-width: 400px) {
    max-width: none;
  }
}

.form-title-container {
  width: 100%;
}

.form-action-title {
  margin-bottom: 2rem;
}

.password-input-container {
  min-width: 20rem;
  margin-bottom: 0;
}

.input-form-tag {
  width: 100%;
  min-width: 20rem;
}

.show-password-eye {
  position: relative;
  left: calc(100% - 25px);
  display: inline-block;
  top: -24px;
  color: grey;
  cursor: pointer;
}

input[type=password] {
  padding-right: 4rem;
}


/**************************
****** Details Pages ******
***************************/

.details-page-header {
  display: grid;
  grid-template-rows: 1f;
  grid-template-columns: 3fr 3fr 1fr;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #eee;
  border-radius: 15px;
  justify-items: center;
  align-items: center;
  overflow-wrap: anywhere;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: 0.75fr 3fr 1fr;
    justify-items: start;
  }
}

.profileImage {
  border-radius: 50%;
  max-width: 15rem;
  max-height: 15rem;
}

app-back-button {
  justify-self: flex-end;
  align-self: flex-start;
  grid-column-end: -1;

  @media (max-width: 400px) {
    grid-column-end: -1;
    grid-row-start: 1;
  }
}

.edit-buttons-container,
.status-buttons-container {
  float: right;
  margin-top: 2rem;
}

.position-status {
  background-color: bisque;
  border-radius: 15px;
  padding: 1px 1.5rem;
  margin: 0;
  @media (max-width: 400px) {
    grid-row-start: 3;
  }
}



































