

<div class="container" #container>

  <app-message-box
    *ngIf="messages.length"
    [messages]="messages"
    (closeMessages)="onClose()">
  </app-message-box>

  <main>
    <header>
      <h3>Jobs</h3>
      <div *ngIf="allowAdd">
        <a class="btn btn-success" routerLink='create'>
          Add a Job
        </a>
      </div>
      <div *ngIf="currUrl[0] === 'my-jobs' && !allowAdd">
        <label for="job-list">Choose status list:</label>
        <select [(ngModel)]="selectedList" (ngModelChange)="checkJobOfUser()">
          <option value="all">All</option>
          <option *ngFor="let status of availableStatus" value="{{status}}">{{ status | titlecase }}</option>
        </select>
      </div>
      <button class="btn btn-info btn-sm advance-search" (click)="onAdvanceSearch()" *ngIf="currUrl[0] === 'jobs'">Advance Search</button>
    </header>

    <section class="search-job-container {{ toggleAdvanceSearchShow ? 'transition-display' : 'transition-hide' }}" *ngIf="currUrl[0] === 'jobs'">

      <div class="search-fields">
        <div class="search-for-field">
          <h5>Title: </h5>
          <app-search-bar
            *ngIf="!searchQuery.title"
            [placeholder]="'Type a job title'"
            [searchDBs]="['job']"
            [searchFields]="['title']"
            [distinctResults]="true"
            (wantedResultsEmitter)="onSearchField($event)">
          </app-search-bar>
          <p *ngIf="searchQuery.title" class="search-for-field-result">
            {{ searchQuery.title }}
          </p>
          <i *ngIf="searchQuery.title" class="glyphicon glyphicon-remove" (click)="onRemoveSearchField('title')"></i>
        </div>

        <div class="search-for-field">
          <h5>Company: </h5>
          <app-search-bar
            *ngIf="!searchQuery.company"
            [placeholder]="'Type a company name'"
            [searchDBs]="['company']"
            [searchFields]="['name']"
            (wantedResultsEmitter)="onSearchField($event)">
          </app-search-bar>
          <p *ngIf="searchQuery.company" class="search-for-field-result">
            {{ searchQuery.company }}
          </p>
          <i *ngIf="searchQuery.company" class="glyphicon glyphicon-remove" (click)="onRemoveSearchField('company')"></i>
        </div>

        <div class="search-for-field">
          <h5>Updated: </h5>
          <select [(ngModel)]="searchQuery.published">
            <option value="">-- Last Update --</option>
            <option value="day">Last Day</option>
            <option value="week">Last Week</option>
            <option value="month">Last Month</option>
            <option value="all">All</option>
          </select>
        </div>
      </div>

      <button class="btn btn-info btn-sm" (click)="onSearch()">
        Search
      </button>

    </section>

    <section>
      <app-list-jobs
        *ngIf="!(isLoading && currUrl[0] === 'jobs' && !jobs.length)"
        [showStatus]="currUrl[0] === 'my-jobs' && !allowAdd"
        [jobs]="jobs"
        [detailsJobUrl]="detailsJobUrl">
      </app-list-jobs>

      <div *ngIf="isLoading" class="flex-row-center">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf='lastJob && !isLoading && jobs.length' class="flex-row-center">
        <p>There are no more jobs that match your search.</p>
      </div>
    </section>

  </main>

</div>


