





.pos-status {
  background-color: bisque;
  border-radius: 15px;
  padding: 1px 1.5rem;
}

.pos-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}




















