



<app-loading-spinner *ngIf="isLoading"r></app-loading-spinner>
<div class="container">
  <app-message-box *ngIf="errorMessages.length" [messages]="errorMessages" (closeMessages)="onClose()"></app-message-box>
  <app-back-button *ngIf="!position"></app-back-button>
</div>
<div class="container" *ngIf="position && !isLoading">
  <div class="row">
    <h3>{{ position.title | titlecase }}</h3>
    <app-back-button></app-back-button>
    <div>
      <p *ngIf="!allowEdit">
        <a routerLink='company' (click)="getCompanyinfo()"
            *ngIf="companyLink; else companyNoLink">
          comapny: {{ (position.companyId.name | titlecase) }}
        </a>
      </p>
      <ng-template #companyNoLink>comapny: {{ (position.companyId.name | titlecase) }}</ng-template>
      <p>description: {{ position.description || "------" }}</p>
      <div>
        <p>Requierments:</p>
        <p *ngIf="!position.requirements || !position.requirements.length; else reqList">There are no prior requierments for this position</p>
        <ng-template #reqList>
          <ul class="list-group" #reqList>
            <li class="list-group-item" *ngFor="let requirement of position.requirements">
              <p>{{ requirement.requirement | titlecase }}</p>
            </li>
          </ul>
        </ng-template>
      </div>
      <hr>
    </div>
    <div class="row" *ngIf="allowEdit">
      <a class="btn btn-primary btn-sm" routerLink='edit'>Edit position</a>
    </div>
  </div>
  <hr>
</div>










