
<div class="container form-container">

  <div *ngIf="isLoading" class="flex-row-center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form class="my-form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

    <header class="form-title-container">
      <h3 class="form-action-title">Reset Password</h3>
    </header>

    <app-message-box
      *ngIf="messages.length"
      [messages]="messages"
      (closeMessages)="onClose()">
    </app-message-box>

    <div formGroupName="passwords">

      <div class="form-group password-input-container">
        <label for="name">Password <abbr title="required" aria-label="required">*</abbr> </label>
        <input
          class="form-control input-form-tag"
          [type]="showPasswords ? 'text' : 'password'"
          name="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          #password
        >
        <span (click)="onTogglePasswords()"
              class="{{ showPasswords ? 'glyphicon glyphicon-eye-close show-password-eye' :
                                        'glyphicon glyphicon-eye-open show-password-eye' }}">
        </span>

        <div>
          <span *ngIf="authForm.get('passwords.password').touched &&
                          !authForm.get('passwords.password').valid">
            <span class="help-block" *ngIf="authForm.get('passwords.password').errors.required">
              The password field is required.
            </span>
            <span class="help-block" *ngIf="authForm.get('passwords.password').errors.minlength">
              Password must be of at least 3 characters long.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="name">Confirm Password <abbr title="required" aria-label="required">*</abbr> </label>
        <input
          class="form-control input-form-tag"
          [type]="showPasswords ? 'text' : 'password'"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        >
        <span *ngIf="authForm.get('passwords.password').touched &&
                authForm.get('passwords.confirmPassword').touched &&
                authForm.get('passwords.password').valid &&
                !authForm.get('passwords').valid">
          <span class="help-block" *ngIf="authForm.get('passwords').errors.equality">
            The passwords fields must be identical.
          </span>
        </span>
      </div>

    </div>

    <hr>

    <div class="auth-buttons">
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        [disabled]="!authForm.valid"
        >
        Reset Password
      </button>
    </div>
  </form>
</div>



































