



<div class="container">
  <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
  <div class="container-fluid" #containerFluid>
    <h3>{{ currUrl[0] === 'my-applicants' ? 'Applicants' : 'People' }}</h3>
    <app-list-employees [employees]="employees" [applicantsList]="applicantsList"></app-list-employees>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf='lastEmployee' style="text-align: center;">
      <p>There are no {{ employees.length ? 'more' : '' }} people that match your search.</p>
    </div>
    <div *ngIf='currUrl[0] === "my-applicants" && !employees.length' style="text-align: center;">
      <p>There are no applicants at the moment.</p>
    </div>
  </div>
</div>



