
<div class="container">
  <h4>Signup</h4>
  <app-alert *ngIf="errorMessages.length" [messages]="errorMessages" (close)="onClose()"></app-alert>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">email  </label>
      <input 
        type="email" 
        name="email" 
        id="email"
        formControlName="email"
        #email
      >
      <span class="help-block" 
          *ngIf="authForm.get('email').touched && !authForm.get('email').valid || 
                  errors && errors.param.email">
        please enter a valid email address
      </span>
    </div>
    <div *ngIf="companySignup">
      <label for="name">name  </label>
      <input 
        type="name" 
        name="name" 
        id="name"
        formControlName="name"
        #name
      >
      <span class="help-block" 
          *ngIf="authForm.get('name').touched && !authForm.get('name').valid || 
                  errors && errors.param.name">
        please enter a valid email address
      </span>
    </div>
    <div formGroupName="passwords">
      <div>
        <label for="name">password  </label>
        <input  
          [type]="showPasswords ? 'text' : 'password'" 
          name="password" 
          id="password"
          formControlName="password"
          #password
        >
        <span *ngIf="authForm.get('passwords.password').touched && 
                        !authForm.get('passwords.password').valid">
          <span class="help-block" *ngIf="authForm.get('passwords.password').errors.required">
            the password field is required
          </span>
          <span class="help-block" *ngIf="authForm.get('passwords.password').errors.minlength">
              password must be of at least 3 characters long
          </span>
        </span>
      </div>
      <div>
        <label for="name">confirm password  </label>
        <input 
          [type]="showPasswords ? 'text' : 'password'" 
          name="confirmPassword" 
          id="confirmPassword"
          formControlName="confirmPassword"
        >
        <span *ngIf="authForm.get('passwords.password').touched &&
                authForm.get('passwords.confirmPassword').touched && 
                authForm.get('passwords.password').valid &&
                !authForm.get('passwords').valid">
          <span class="help-block" *ngIf="authForm.get('passwords').errors.equality">
            the passwords fields must be identical
          </span>
        </span>
      </div>
        <button 
          type="button" 
          class="btn btn-default btn-sm"
          (click)="onTogglePasswords()"
          >
          {{ showPasswords ? 'hide' : 'show' }} passwords
        </button>
    </div>
    <hr>
    <button 
      type="submit" 
      class="btn btn-primary"
      [disabled]="!authForm.valid"
      >
      Signup
    </button>
    <button 
      style="margin-left: 2em;"
      type="button" 
      class="btn btn-info"
      [routerLink]="companySignup ? ['/signup'] : ['company']"
      >
      {{ companySignup ? "Not a Company?" : "Sign a Company"}}
    </button>
  </form>
</div>



































