

.message-box {
  border: 1px solid red;
  background: #ff000036;
  width: 80%;
  position: relative;
  margin: 0 auto;
}

li:last-child {
  padding-bottom: 1rem;
}

ul {
  font-weight: bold;
  position: relative;
  top: 1rem;
  padding-right: 2.6rem;
}

.my-btn {
  background: transparent;
}
