




.applicant-job {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 0.75fr;
  align-items: center;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.75fr;
  }
}

.job-link {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  @media (max-width: 400px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
  }
}

.list-group-item {
  @media (max-width: 400px) {
    margin-bottom: 1rem;
  }
}

.job-title {
  margin: 0;
}

.status-action-buttons {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;

  button {
    margin: 0.25rem 0;
  }

  @media (max-width: 400px) {
    justify-self: center;
    flex-direction: row;
  }
}
