

<ul class="list-group" *ngIf="jobs && jobs.length">
  <li class="list-group-item list-title">
    <h4>Title</h4>
    <h4 *ngIf="applicantJobs || !!detailsJobUrl === showStatus && !generalCompany">
      {{ applicantJobs ? 'Status' : 'Company' }}
    </h4>
    <h4>Published</h4>
    <h4 *ngIf="applicantJobs || showStatus">{{ applicantJobs ? 'Status' : 'Actions' }}</h4>
  </li>
  <li class="list-group-item {{ applicantJobs ? 'applicant-job' : 'general-job' }}"
      *ngFor="let jobInfo of jobs; let i=index; trackBy: jobsTracker">

    <ng-container *ngIf="applicantJobs; else jobsList">
      <h4 class="job-title">{{ jobInfo.title ? jobInfo.title : jobInfo['job'].title }}</h4>
      <p class="job-status job-status-{{ jobInfo.status }}">{{ jobInfo.status }}</p>
      <time
        class="job-date"
        [dateTime]="getJobDate(jobInfo.date).split('/').reverse().join('-')">
        {{ getJobDate(jobInfo.date) }}
      </time>
      <div class="status-action-buttons">
        <button class="btn btn-danger btn-sm" (click)="onAcceptReject('rejected', i)"
          *ngIf='jobInfo.status.toString() !== "rejected"'>Reject?</button>
        <button class="btn btn-success btn-sm" (click)="onAcceptReject('accepted', i)"
          *ngIf='jobInfo.status.toString() !== "accepted"'>Accept?</button>
      </div>
    </ng-container>

    <ng-template #jobsList>
      <a class="job-link" [state]="{ jobInd : i }"
        routerLink='{{ generalCompany && jobs.length ? "job" : detailsJobUrl + i }}'>
        <p class="job-title">{{ jobInfo.title ? jobInfo.title : jobInfo['job'].title }}</p>
        <p class="job-company" *ngIf= "!!detailsJobUrl === showStatus && !generalCompany">{{ jobInfo.company ? jobInfo.company.name : jobInfo['job'].company.name }}</p>

        <time
          *ngIf="jobInfo.date"
          class="job-date"
          [dateTime]="getJobDate(jobInfo.date).split('/').reverse().join('-')">
          {{ getJobDate(jobInfo.date) }}
        </time>

        <p class="job-status job-status-{{ jobInfo.status }}" *ngIf="showStatus">{{ jobInfo.status }}</p>
      </a>
    </ng-template>

  </li>
</ul>

<p *ngIf="!applicantJobs && (!jobs || !jobs.length)">There are no open jobs.</p>
<p *ngIf="applicantJobs && (!jobs || !jobs.length)">There are no applicants for your requested status.</p>








