

<ul class="list-group" *ngIf="jobs && jobs.length">
  <li class="list-group-item list-title">
    <h4>Title</h4>
    <h4 *ngIf="applicantJobs || !!detailsJobUrl === showStatus && !generalCompany">
      {{ applicantJobs ? 'Status' : 'Company' }}
    </h4>
    <h4>Last Update</h4>
    <h4 *ngIf="applicantJobs || showStatus">{{ applicantJobs ? 'Status' : 'Actions' }}</h4>
  </li>
  <li class="list-group-item {{ applicantJobs ? 'applicant-job' : '' }}"
      *ngFor="let jobInfo of jobs; let i=index; trackBy: jobsTracker">

    <ng-container *ngIf="applicantJobs; else jobsList">
      <h4 class="job-title">{{ jobInfo.title ? (jobInfo.title | titlecase) : (jobInfo['job'].title | titlecase) }}</h4>
      <p class="job-status job-status-{{ jobInfo.status }}">{{ jobInfo.status | titlecase }}</p>
      <time
        class="job-date"
        [dateTime]="getJobDateHtmlElem(jobInfo.date)">
        {{ getJobDate(jobInfo.date) }}
      </time>
      <div class="status-action-buttons">
        <button class="btn btn-danger btn-sm" (click)="onAcceptReject('rejected', i)"
          *ngIf='jobInfo.status.toString() !== "rejected"'>Reject?</button>
        <button class="btn btn-success btn-sm" (click)="onAcceptReject('accepted', i)"
          *ngIf='jobInfo.status.toString() !== "accepted"'>Accept?</button>
      </div>
    </ng-container>

    <ng-template #jobsList>
      <a class="job-link" [state]="{ jobInd : i }"
        routerLink='{{ generalCompany && jobs.length ? "job" : detailsJobUrl + i }}'>
        <h4 class="job-title">{{ jobInfo.title ? (jobInfo.title | titlecase) : (jobInfo['job'].title | titlecase) }}</h4>
        <p class="job-company" *ngIf= "!!detailsJobUrl === showStatus && !generalCompany">{{ jobInfo.company ? (jobInfo.company.name | titlecase) : (jobInfo['job'].company.name | titlecase) }}</p>

        <time
          *ngIf="jobInfo.date"
          class="job-date"
          [dateTime]="jobInfo['job'] ? getJobDateHtmlElem(jobInfo['job'].date) : getJobDateHtmlElem(jobInfo.date)">
          {{ jobInfo['job'] ? getJobDate(jobInfo['job'].date) : getJobDate(jobInfo.date) }}
        </time>

        <div class="status-container">
          <p class="job-status job-status-{{ jobInfo.status }}" *ngIf="showStatus">
            {{ jobInfo.status | titlecase }}
          </p>
          <time
            class="job-date"
            [dateTime]="getJobDateHtmlElem(jobInfo.date)">
            {{ getJobDate(jobInfo.date) }}
          </time>
        </div>
      </a>
    </ng-template>

  </li>
</ul>

<div *ngIf="!jobs || !jobs.length" class="flex-row-center">
  <p *ngIf="applicantJobs">There are no jobs for your requested status.</p>
  <p *ngIf='!applicantJobs' >There are no jobs at the moment.</p>
</div>







