


<div *ngIf="isLoading && !changePassword" class='flex-row-center'>
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="container" *ngIf="!isLoading && !company.email">
  <app-message-box
    *ngIf="messages.length"
    [messages]="messages"
    (closeMessages)="onClose()">
  </app-message-box>

  <app-back-button *ngIf="!company.email"></app-back-button>
</div>

<div class="container" *ngIf="company.email && (!isLoading || changePassword)">

  <app-message-box
    *ngIf="messages.length && !changePassword"
    [messages]="messages"
    (closeMessages)="onClose()">
  </app-message-box>

  <header class="details-page-header">
    <img [src]="company.profileImagePath" alt="The Company profile image." class="company-profile-image" *ngIf="company.profileImagePath"/>
    <div class="company-no-profile-image" *ngIf="!company.profileImagePath">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <h3>{{ allowEdit ? 'My Profile - ' + (company.name | titlecase) : company.name | titlecase }}</h3>
    <app-back-button *ngIf='currUrl[0] !== "my-details"'></app-back-button>
  </header>

  <hr>

  <main class="details-page-body">
    <section>
      <h4>Info</h4>
      <address>
        <p>Email: <a href="mailto:{{company.email}}">{{ company.email }}</a></p>

        <p *ngIf="company.website">Website:
          <a target="_blank"
            href="{{ company.website.startsWith('http://www.') ? company.website : 'http://www.' + company.website }}">
            {{ company.website }}
          </a>
          <span class="glyphicon glyphicon-new-window"></span>
        </p>
        <p *ngIf="!company.website && currUrl[0] === 'my-details'">Website: ------</p>
      </address>

      <p *ngIf="company.description">Description: {{ company.description }}</p>
      <p *ngIf="!company.description && currUrl[0] === 'my-details'">Description: ------</p>
    </section>


    <section *ngIf="currUrl[0] !== 'my-details'">
      <header>
        <h4>Jobs</h4>
      </header>
      <app-list-jobs
        [jobs]="company.jobs"
        [generalCompany]="true">
      </app-list-jobs>
    </section>

    <section class="images-container" *ngIf="currUrl[0] === 'my-details' || company.imagesPath.length">
      <header>
        <h4>Company Images</h4>
      </header>
      <ul class="images-container__list">
        <li *ngFor="let imagePath of company.imagesPath; let i=index" class="images-container__list-item"
            (click)="onShowSlides(i)">
          <img class="company-image" alt="Company image." [src]='imagePath'/>
        </li>
        <li *ngIf="!company.imagesPath.length">You have to images to present.</li>
      </ul>
    </section>

    <hr>

    <div class="edit-buttons-container" *ngIf="allowEdit">
      <a class="btn btn-primary btn-sm" routerLink='edit'>Edit Details</a>
      <button type="button" (click)="onTogglePasswordChange()" class="btn btn-primary btn-sm">Change Password</button>
    </div>
  </main>


</div>

<div class="backdrop" *ngIf="showSlides" (click)="onShowSlides(-1, $event.target)">
	<section id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li
	    class="{{ i === slideNum ? 'active' : '' }}"
	    *ngFor="let imagePath of company.imagesPath; let i=index"
	    data-target="#carousel-example-generic" [attr.data-slide-to]="i"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item {{ slideNum === i ? 'active' : '' }}" *ngFor="let imagePath of company.imagesPath; let i=index">
	      <img src="{{imagePath}}" alt="#{{i}} slide">
	    </div>
	  </div>
	  <a class="left carousel-control" (click)="onChangeCarouselSlide(false)" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" (click)="onChangeCarouselSlide(true)" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</section>
</div>


<div class="backdrop {{ changePassword ? '' : 'hide' }}">

  <section class="container form-container front-drop">
    <div *ngIf="isLoading && changePassword" class="flex-row-center">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form (ngSubmit)="onSubmitChangePassword()" [formGroup]="changePasswordForm" *ngIf="!isLoading && changePassword" class="my-form">

      <header class="form-title-container">
        <h3 class="form-action-title">Change Password</h3>
      </header>

      <app-message-box
        *ngIf="messages.length && !isLoading && changePassword"
        [messages]="messages"
        (closeMessages)="onClose()">
      </app-message-box>

      <hr>

      <div class="form-group password-input-container">
        <label for="name">Current Password <abbr title="required" aria-label="required">*</abbr> </label>
        <input
          placeholder="Type your current password"
          class="form-control input-form-tag"
          [type]="showCurrPassword ? 'text' : 'password'"
          name="currentPassword"
          id="currentPassword"
          formControlName="currentPassword"
          #currentPassword
        >
        <span (click)="onToggleCurrPassword()"
              class="{{ showCurrPassword ? 'glyphicon glyphicon-eye-close show-password-eye' :
                                        'glyphicon glyphicon-eye-open show-password-eye' }}">
        </span>
        <span *ngIf="changePasswordForm.get('currentPassword').touched &&
                        !changePasswordForm.get('currentPassword').valid">
          <span class="help-block" *ngIf="changePasswordForm.get('currentPassword').errors.required">
            The current password field is required.
          </span>
          <span class="help-block" *ngIf="changePasswordForm.get('currentPassword').errors.minlength">
              The current password must be of at least 3 characters long.
          </span>
        </span>
      </div>

      <div formGroupName="passwords" class="form-group">

        <div class="form-group password-input-container">
          <label for="name">New Password <abbr title="required" aria-label="required">*</abbr> </label>
          <input
            placeholder="Type your new password"
            class="form-control input-form-tag"
            [type]="showNewPasswords ? 'text' : 'password'"
            name="newPassword"
            id="newPassword"
            formControlName="newPassword"
            #newPassword
          >
          <span (click)="onToggleNewPasswords()"
                class="{{ showNewPasswords ? 'glyphicon glyphicon-eye-close show-password-eye' :
                                          'glyphicon glyphicon-eye-open show-password-eye' }}">
          </span>
          <span *ngIf="changePasswordForm.get('passwords.newPassword').touched &&
                          !changePasswordForm.get('passwords.newPassword').valid">
            <span class="help-block" *ngIf="changePasswordForm.get('passwords.newPassword').errors.required">
              The new password field is required.
            </span>
            <span class="help-block" *ngIf="changePasswordForm.get('passwords.newPassword').errors.minlength">
                The new password must be of at least 3 characters long.
            </span>
          </span>
        </div>

        <div>
          <label for="name">Confirm New Password <abbr title="required" aria-label="required">*</abbr> </label>
          <input
            class="form-control input-form-tag"
            placeholder="Repeat your new password"
            [type]="showNewPasswords ? 'text' : 'password'"
            name="confirmNewPassword"
            id="confirmNewPassword"
            formControlName="confirmNewPassword"
          >
          <span *ngIf="changePasswordForm.get('passwords.newPassword').touched &&
                  changePasswordForm.get('passwords.confirmNewPassword').touched &&
                  changePasswordForm.get('passwords.newPassword').valid &&
                  !changePasswordForm.get('passwords').valid">
            <span class="help-block" *ngIf="changePasswordForm.get('passwords').errors.equality">
              The new passwords fields must be identical.
            </span>
          </span>
        </div>

      </div>

      <hr>

      <div class="edit-buttons-container">
        <button
          type="submit"
          class="btn btn-success btn-sm"
          [disabled]="!changePasswordForm.valid">
          Change
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          (click)="onTogglePasswordChange()">
          Cancel
        </button>
      </div>

    </form>

  </section>

</div>
