


<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<div class="container" *ngIf="company && !isLoading">

  <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
  <div class="details-page-header">
    <h3>{{ allowEdit ? 'My Profile' : company.name | titlecase }}</h3>
    <app-back-button *ngIf='currUrl[0] !== "my-details"'></app-back-button>
  </div>

  <hr>

  <div class="details-page-body" *ngIf="!isLoading && company.email">
    <p>Email: <a href="mailto:{{company.email}}">{{ company.email }}</a></p>
    <p>Website: {{ company.website || "------" }}</p>
    <p>Description: {{ company.description || "------" }}</p>
    <h4>Positions</h4>
    <app-list-position
      [positions]="company.positions"
      [companyPositions]="true">
    </app-list-position>
    <div class="images-container">
      <ul class="images-container__list">
        <li *ngFor="let imagePath of company.imagesPath" class="images-container__list-item">
          <img class="image" [src]='imagePath'>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="edit-button-container" *ngIf="allowEdit">
    <a class="btn btn-primary btn-sm" routerLink='edit'>Edit Details</a>
  </div>
</div>









