
app-message-box {
  min-width: 20rem;
  width: 60vw;
  max-width: 550px;

  @media (max-width: 767px) {
    width: 60vw;
  }
}

/*********
  HEADER
**************/

header {
  width: 70vw;
  min-width: 20rem;
}

.title {
  text-align: center;
  padding-top: 3rem;
}

.post-creator {
  width: 100%;

  button {
    min-width: 20rem;
  }
}

textarea {
  resize: none;
  height: 8rem;
}

/*********
  MAIN
**************/


main {
  margin: 3rem 0;
  width: 70vw;
  min-width: 20rem;
}

ul {
  padding: 0;
}

.unauthenticated-links {
  width: 50%;
  min-width: max-content;

  li {
    cursor: pointer;
    box-shadow: 1px 2px 5px;
    transform: perspective(50px) translateZ(-1px);
    background: linear-gradient(to right, #d9d9d93d 50%, white 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all .5s ease-out;

    &:hover {
      transform: perspective(50px) translateZ(0px);
      background-position: left;
    }
    a {
      text-decoration: none;
    }
  }
}

li {
  margin-bottom: 1rem;
  width: 100%;

  &:hover {
    background-color: initial;
  }

  button {
    margin: 0 1rem;
  }
}

.post-info {
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px #80808045 solid;
}

.author-name {
  font-weight: bold;
}

.employee-no-profile-image,
.employee-profile-image {
  width: 8rem;
  height: 8rem;
  font-size: 3rem;
}

.company-no-profile-image,
.company-profile-image {
  height: 6rem;
  width: 10.6rem;
  font-size: 3rem;
}

.post-content {
  border-bottom: 1px #80808045 solid;
}

.post-actions {
  margin-top: 1rem;

  p {
    cursor: pointer;
    display: inline-block;
    margin-right: 1rem;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }
}

.post-actions__comment-text {
  margin-top: 1rem;
  display: flex;

  input {
    border-radius: 15px;
  }

  button {
    border-radius: 50%;
  }
}

.post-actions__comments {
  margin-top: 2rem;

  li {
    margin-bottom: 1rem;
    list-style: none;
    display: flex;

    > div:first-child {
      padding-top: 0.5rem;
      min-width: 5.5rem;
      margin-right: 0.5rem;
    }

    a {
      cursor: pointer;
    }
  }

  .company-no-profile-image,
  .company-profile-image {
    height: 3rem;
    width: 5.3rem;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 0;
  }

  .employee-no-profile-image,
  .employee-profile-image {
    height: 4rem;
    width: 4rem;
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: 0;
  }
}

.post-actions__comments-info {
  width: 100%;
  background-color: #d9d9d93d;
  border-radius: 10px;
  border-top-left-radius: 0px;
  padding-left: 1rem;
}

.post-actions__comments-header {
  display: flex;
  align-items: center;

  span {
    margin: 0 0.5rem;
  }

  time {
    font-size: smaller;
  }
}

.dot {
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}


.like-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  padding-bottom: 1rem;
  margin-bottom: 1rem;

  div {
    &:first-child {
      margin-right: 1rem;
    }
  }
}
