







<ul class="list-group" *ngIf="companies.length" class="list-container">
  <li
    routerLink='{{i}}'
    title="{{ company.description ? (company.description | cut: 20) : null }}"
    class="list-group-item"
    *ngFor="let company of companies; let i=index">
      <img
        [src]="company.profileImagePath"
        class="companyProfileImage"
        *ngIf="company.profileImagePath" />
      <div class="company-no-profile-image" *ngIf="!company.profileImagePath">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <h4>{{ company.name | titlecase }}</h4>
  </li>
</ul>
<p *ngIf="!companies.length">There are no registers companies</p>










