




<article class="image-picker">

  <section class="main-picker">
    <div class="image-input-remove-container">
      <input type="file" class="image-picker" (change)="fileChangeEvent($event)" #filePicker/>
      <span
        *ngIf='imagePreview'
        class="glyphicon glyphicon-remove btn btn-default col-xs-1 btn-remove-file"
        (click)="onRemoveImage()"
        #removeImageBtn>
      </span>
    </div>
    <div class="cropped-container-done" *ngIf='imagePreview && (!croppedImage || confirmedImage)'>
      <img [src]="imagePreview" class="{{roundCropper ? 'preview__image round' : 'preview__image'}}" />
    </div>
  </section>

  <div class="error-picker" *ngIf="failUpload">
    <span class="help-block">
      <p>There was a problem uploading the image.</p>
      <p>You can only upload an image file (jpeg, png etc..).</p>
    </span>
  </div>
</article>


<!-- only shows when select a file -->

<div class="backdrop" *ngIf='croppedImage && !confirmedImage'></div>


<article class="crop-container hide" #cropContainer>
  <section class="cropper">
    <div class="cropper-start-buttons">
      <button
        type="button"
        class="btn btn-primary btn-sm confirm-crop-btn"
        (click)="onConfirmCrop()"
        *ngIf='croppedImage && !confirmedImage'>
        Crop OK?
      </button>
      <button
        type="button"
        class="btn btn-info btn-sm cancel-crop-btn"
        (click)="onCancelCrop()"
        *ngIf='croppedImage && !confirmedImage'>
        Cancel
      </button>
    </div>

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="aspectRatio"
      format="png"
      [roundCropper]="roundCropper"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()">
    </image-cropper>
  </section>

  <div class="cropped-container-start">
    <img [src]="croppedImage" class="{{roundCropper ? 'preview-cropper round' : 'preview-cropper'}}" />
  </div>
</article>
















