
<div class="container form-container">


  <div *ngIf="isLoading" class="flex-row-center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form class="my-form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">

    <header class="form-title-container">
      <h3 class="form-action-title">Send Reset Mail</h3>
    </header>

    <app-message-box
      *ngIf="messages.length"
      [messages]="messages"
      (closeMessages)="onClose()">
    </app-message-box>

    <div class='form-group'>
      <label for="email">Email <abbr title="required" aria-label="required">*</abbr> </label>
      <input
        class="form-control input-form-tag"
        type="email"
        name="email"
        id="email"
        formControlName="email"
        #email
      >
      <span class="help-block"
          *ngIf="authForm.get('email').touched && !authForm.get('email').valid">
        Please enter a valid email address.
      </span>
    </div>

    <hr>

    <div class="auth-buttons">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!authForm.valid"
        >
        Send
      </button>
    </div>

  </form>
</div>



































