







<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
  <app-message-box *ngIf="errorMessages.length" [messages]="errorMessages" (closeMessages)="onClose()"></app-message-box>
  <ul class="list-group" *ngIf="employees.length && !errorMessages.length">
    <li
      class="list-group-item"
      *ngFor="let employee of employees; let i=index">
      <a routerLink='{{i}}'>
        <p>Employee Email: {{ employee.email }}</p>
      </a>
    </li>
  </ul>
  <p *ngIf="!employees.length && !errorMessages.length">There are no registers employees</p>
</div>
