







<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="container-fluid" *ngIf="!isLoading">
  <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
  <div>
    <ul class="list-group" *ngIf="employees.length && !messages.length">
      <li
        class="list-group-item"
        *ngFor="let employee of employees; let i=index">
        <a routerLink='{{i}}' class="employee-link">
          <p>{{ employee.email ? employee.email : employee.employee.email }}</p>
          <p class="employee-positions" *ngIf="currUrl[0] === 'my-applicants'">Positions: {{ employee.positions.length }}</p>
        </a>
      </li>
    </ul>
    <p *ngIf="!employees.length && !messages.length">There are no registers employees</p>
  </div>
</div>
