




.profileImage {
  border-radius: 50%;
  max-width: 15rem;
  max-height: 15rem;
}


.pos-link {
  display: flex;
  justify-content: space-between;
}


.pos-status {
  background-color: bisque;
  border-radius: 15px;
  padding: 1px 1.5rem;
}










