


<div class="container">

  <div *ngIf="isLoading && !addWork" class='flex-row-center'>
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="container-fluid" *ngIf="employee && (!isLoading || addWork)">
    <app-message-box
      *ngIf="messages.length && !addWork"
      [messages]="messages"
      (closeMessages)="onClose()">
    </app-message-box>

    <header class="details-page-header">
      <img
        alt="Profile image of {{ getEmployeeName(employee) | titlecase }}."
        [src]="employee.profileImagePath"
        class="employee-profile-image"
        *ngIf="employee.profileImagePath"/>
      <div class="employee-no-profile-image" *ngIf="!employee.profileImagePath">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <address class="employee-info-header">
        <h4 *ngIf="currUrl[0] === 'my-details'">
          <p>
            First Name: {{ employee.firstName || '------' }}
          </p>
          <p>
            Last Name: {{ employee.lastName || '------' }}
          </p>
        </h4>
        <h3 *ngIf="currUrl[0] !== 'my-details'">
          {{ getEmployeeName(employee) | titlecase}}
        </h3>
        <p><a href="mailto:{{employee.email}}">{{ employee.email }}</a></p>
      </address>
      <app-back-button *ngIf='currUrl[0] !== "my-details"'></app-back-button>
    </header>

    <main class="details-page-body">
      <div class="edit-buttons-container" *ngIf="allowEdit">
        <a class="btn btn-primary btn-sm" routerLink='edit'>Edit Details</a>
      </div>

      <section class="jobs-list" *ngIf="currUrl[0] === 'my-applicants'">
        <header>
          <h4>Shown interest</h4>
        </header>

        <div *ngIf="currUrl[0] === 'my-applicants'" class="select-status-list">
          <label for="job-list">Show status list: </label>
          <select [(ngModel)]="selectedStatusList" (ngModelChange)="checkJobOfUser()">
            <option value="all">All</option>
            <option *ngFor="let status of availableStatus" value="{{status}}">{{ status | titlecase }}</option>
          </select>
        </div>

        <app-list-jobs
          [showStatus]='true'
          [applicantJobs]='true'
          [jobs]='applicantJobs'
          (acceptRejectEmitter)="onAcceptReject($event)"
        >
        </app-list-jobs>
      </section>

      <section class="experience" *ngIf='employee.work && employee.work.length || allowEdit'>
        <header class="experience-header">
          <h3>Experience</h3>
          <button
            *ngIf='currUrl[0] === "my-details"'
            class="btn btn-info"
            (click)="onToggleWork()">+</button>
        </header>
        <div class="experience-list-container">
          <ul class="list-group">
            <li
              class="list-group-item"
              *ngFor="let work of employee.work; let i=index">
                <div class="work-header">
                  <h4>{{ work.title }}</h4> <span>@</span> <h5>{{ work.company }}</h5>
                </div>
                <p *ngIf="work.employmentType">{{ work.employmentType | titlecase }}</p>
                <div class="work-date help-block">
                  <time [dateTime]="work.startDate.getMonth() + '-' + work.startDate.getFullYear()">
                    {{ monthNames[work.startDate.getMonth()] + ' ' +
                        work.startDate.getFullYear() }}
                  </time>
                  <p>-</p>
                  <time
                    *ngIf="work.endDate"
                    [dateTime]="work.endDate.getMonth() + '-' + work.endDate.getFullYear()">
                    {{ monthNames[work.startDate.getMonth()] + ' ' +
                        work.startDate.getFullYear() }}
                  </time>
                  <p *ngIf="!work.endDate">present</p>
                </div>
                <span *ngIf="currUrl[0] === 'my-details'" class="glyphicon glyphicon-pencil" (click)="onToggleWork(i)"></span>
            </li>
          </ul>
        </div>
      </section>

    </main>

  </div>

</div>




<div class="backdrop {{ addWork ? '' : 'hide' }}" #backdrop>

  <section class="container form-container add-experience-container">
    <div *ngIf="isLoading" class="flex-row-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit(workForm)" #workForm="ngForm" class="my-form {{ isLoading ? 'hide' : '' }}">

      <header class="form-title-container">
        <h3 class="form-action-title">{{ workId ? 'Update' : 'Create' }} Experience</h3>
      </header>

      <app-message-box
        *ngIf="messages.length && addWork"
        [messages]="messages"
        (closeMessages)="onClose()">
      </app-message-box>

      <div class="form-group">
        <label for="title">Title: <abbr title="required" aria-label="required">*</abbr> </label>
        <input
          placeholder="Ex: Web Developer"
          class="form-control input-form-tag"
          type="text"
          name="title"
          id="title"
          ngModel
          required
          #title="ngModel"
        >
        <span class="help-block" *ngIf="!title.valid && title.touched">
          Please enter a valid title.
        </span>
      </div>

      <div class="form-group">
        <label for="type">Employment Type: </label>
        <select
          class="form-control input-form-tag"
          id="type"
          name="type"
          ngModel
          #type="ngModel"
        >
          <option value=''>-----</option>
          <option value='full-time'>Full time</option>
          <option value='part-time'>Part Time</option>
          <option value='internship'>Internship</option>
          <option value='freelance'>Freelance</option>
          <option value='other'>Other</option>
        </select>
      </div>

      <div class="form-group">
        <label for="company">Company: <abbr title="required" aria-label="required">*</abbr> </label>
        <input
          placeholder="Ex: Google"
          class="form-control input-form-tag"
          type="text"
          name="company"
          id="company"
          ngModel
          required
          #company="ngModel"
        >
        <span class="help-block" *ngIf="!company.valid && company.touched">
          Please enter a valid company.
        </span>
      </div>

      <div class="form-date-container">
        <label for="start-month">Start Date: <abbr title="required" aria-label="required">*</abbr> </label>
        <div class="form-start-date">
          <div class="form-group">
            <select
              class="form-control input-form-tag"
              id="start-month"
              name="startMonth"
              ngModel
              required
              #startMonth="ngModel"
            >
              <option value=''>-- Month --</option>
              <option value='Jan'>January</option>
              <option value='Feb'>February</option>
              <option value='Mar'>March</option>
              <option value='Apr'>April</option>
              <option value='May'>May</option>
              <option value='Jun'>June</option>
              <option value='Jul'>July</option>
              <option value='Aug'>August</option>
              <option value='Sep'>September</option>
              <option value='Oct'>October</option>
              <option value='Nov'>November</option>
              <option value='Dec'>December</option>
            </select>
            <span class="help-block" *ngIf="!startMonth.valid && startMonth.touched">
              Please enter a valid month.
            </span>
          </div>

          <div class="form-group">
            <select
              class="form-control input-form-tag"
              id="start-year"
              name="startYear"
              ngModel
              required
              #startYear="ngModel"
            >
              <option value=''>-- Year --</option>
              <option
                *ngFor="let year of years"
                value='{{year}}'>{{year}}</option>
            </select>
            <span class="help-block" *ngIf="!startYear.valid && startYear.touched">
              Please enter a valid year.
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <input
          class="form-check-input"
          type="checkbox"
          name="present"
          id="present"
          ngModel
          #present="ngModel"
        >
        <label class="form-check-label" for="present">It is my present work place.  </label>
      </div>

      <div class="form-date-container {{ workForm.form.value.present ? 'hide' : '' }}">
        <label for="end-month">End Date: </label>
        <div class="form-end-date">
          <div class="form-group">
            <select
              class="form-control input-form-tag"
              id="end-month"
              name="endMonth"
              ngModel
              required
              #endMonth="ngModel"
            >
            <option value=''>-- Month --</option>
            <option value='Jan'>January</option>
            <option value='Feb'>February</option>
            <option value='Mar'>March</option>
            <option value='Apr'>April</option>
            <option value='May'>May</option>
            <option value='Jun'>June</option>
            <option value='Jul'>July</option>
            <option value='Aug'>August</option>
            <option value='Sep'>September</option>
            <option value='Oct'>October</option>
            <option value='Nov'>November</option>
            <option value='Dec'>December</option>
            </select>
            <span class="help-block" *ngIf="!endMonth.valid && endMonth.touched">
              Please enter a valid month.
            </span>
          </div>

          <div class="form-group">
            <select
              class="form-control input-form-tag"
              id="end-year"
              name="endYear"
              ngModel
              required
              #endYear="ngModel"
            >
              <option value=''>-- Year --</option>
              <option
                *ngFor="let year of years"
                value='{{year}}'>{{year}}</option>
            </select>
            <span class="help-block" *ngIf="!endYear.valid && endYear.touched">
              Please enter a valid year.
            </span>
          </div>
        </div>
      </div>

      <hr>

      <div class="edit-buttons-container with-delete">
        <div>
          <button
            *ngIf="workId"
            (click)="onDeleteWork()"
            type="button"
            class="btn btn-danger">Delete</button>
          <button
            type="button"
            class="btn btn-warning"
            (click)="onToggleWork()">
            Cancel
          </button>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="title.invalid ||
                        company.invalid ||
                        type.invalid ||
                        startMonth.invalid ||
                        startYear.invalid ||
                        (!workForm.form.value.present && (endMonth.invalid || endYear.invalid))">
            {{ workId ? 'Update' : 'Create' }}
          </button>
        </div>
      </div>

    </form>
  </section>

</div>
