


<div class="container">

  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <div class="container-fluid" *ngIf="employee && !isLoading">

    <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
    <div class="row">
      <h3>
        {{ employee.firstName ? (employee.firstName | titlecase) : '' }}
        {{ employee.lastName ? (employee.lastName | titlecase) : '' }}
        {{ !employee.firstName && !employee.lastName ? 'Employee Details' : '' }}
      </h3>
      <app-back-button *ngIf='currUrl[0] !== "my-details"'></app-back-button>
      <div>
        <p>email: {{ employee.email }}</p>
        <p>first name: {{ employee.firstName || "------" }}</p>
        <p>last name: {{ employee.lastName || "------" }}</p>
        <hr>
      </div>
      <div class="row" *ngIf="allowEdit">
        <a class="btn btn-primary btn-sm" routerLink='edit'>Edit Details</a>
      </div>
    </div>

    <div class="row" *ngIf="currUrl[0] === 'my-applicants'">

      <div>
        <h4>The positions of {{ user.name | titlecase }} the employee interacted with:</h4>
        <div *ngIf="currUrl[0] === 'my-applicants'">
          <label for="position-list">Show applicants to position:</label>
          <select [(ngModel)]="selctedStatusList" (ngModelChange)="checkPositionOfUser()">
            <option value="all">All</option>
            <option *ngFor="let status of availableStatus" value="{{status}}">{{ status | titlecase }}</option>
          </select>
        </div>
        <ul>
          <li class="list-group-item pos-link" *ngFor="let pos of applicantPositions; let i=index">
            <p class="pos-title">{{ pos.position.title }}</p>
            <p class="pos-status">{{ pos.status }}</p>
            <div>
              <button class="btn btn-danger" (click)="onAcceptReject('rejected', i)"
              *ngIf='pos.status.toString() !== "rejected"'>Reject?</button>
              <button class="btn btn-success" (click)="onAcceptReject('accepted', i)"
              *ngIf='pos.status.toString() !== "accepted"'>Accept?</button>
            </div>
          </li>
          <li class="list-group-item" *ngIf='!applicantPositions.length'>No matching positions.</li>
        </ul>
      </div>
    </div>

  </div>

</div>




