




<div class="container">
  <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
  <main class="container-fluid" #containerFluid>

    <section>
      <header>
      	<h3>Companies</h3>
      </header>

      <app-list-companies [companies]="companies"></app-list-companies>

      <div *ngIf="isLoading" class='flex-row-center'>
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf='lastCompany && !isLoading' class='flex-row-center'>
        <p>There are no {{ companies.length ? 'more' : '' }} companies that match your search.</p>
      </div>
    </section>

  </main>
</div>







