




<div class="container">
  <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
  <main class="container-fluid" #containerFluid>

    <header>
      <h3>Companies</h3>
      <button class="btn btn-info btn-sm advance-search" (click)="onAdvanceSearch()">Advance Search</button>
    </header>

    <section class="search-company-container {{ toggleAdvanceSearchShow ? 'transition-display' : 'transition-hide' }}" *ngIf="currUrl[0] === 'companies'">

      <div class="search-fields">

        <div class="search-for-field">
          <h5>Name: </h5>
          <app-search-bar
            *ngIf="!searchQuery.name"
            [placeholder]="'Ex: Joe Frazier, frazier@gmail.com'"
            [searchDBs]="['company']"
            [searchFields]="['name', 'email']"
            (wantedResultsEmitter)="onSearchField($event)">
          </app-search-bar>
          <p *ngIf="searchQuery.name" class="search-for-field-result">
            {{ searchQuery.name }}
          </p>
          <i *ngIf="searchQuery.name" class="glyphicon glyphicon-remove" (click)="onRemoveSearchField('name')"></i>
        </div>

        <div class="search-for-field">
          <h5>Job: </h5>
          <app-search-bar
            *ngIf="!searchQuery.job"
            [placeholder]="'Ex: Web Developer'"
            [searchDBs]="['company']"
            [distinctResults]="true"
            [searchFields]="['jobs.title']"
            (wantedResultsEmitter)="onSearchField($event)">
          </app-search-bar>
          <p *ngIf="searchQuery.job" class="search-for-field-result">
            {{ searchQuery.job }}
          </p>
          <i *ngIf="searchQuery.job" class="glyphicon glyphicon-remove" (click)="onRemoveSearchField('job')"></i>
        </div>

        <div class="search-for-field">
          <h5>Published: </h5>
          <select [(ngModel)]="searchQuery.published">
            <option value="">-- Last Published --</option>
            <option value="day">Last Day</option>
            <option value="week">Last Week</option>
            <option value="month">Last Month</option>
            <option value="all">All</option>
          </select>
        </div>

      </div>

      <button class="btn btn-info btn-sm" (click)="onSearch()">
        Search
      </button>

    </section>

    <app-list-companies [companies]="companies"></app-list-companies>

    <div *ngIf="isLoading" class='flex-row-center'>
      <app-loading-spinner></app-loading-spinner>
    </div>

    <div *ngIf='lastCompany && !isLoading' class='flex-row-center'>
      <p>There are no {{ companies.length ? 'more' : '' }} companies that match your search.</p>
    </div>

  </main>
</div>







