
<div class="container">
    <h4>Login</h4>
    <app-alert *ngIf="errorMessages.length" [messages]="errorMessages" (close)="onClose()"></app-alert>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div>
        <label for="email">email  </label>
        <input 
          type="email" 
          name="email" 
          id="email"
          formControlName="email"
          #email
        >
        <span class="help-block" 
            *ngIf="authForm.get('email').touched && !authForm.get('email').valid || 
                    errors && errors.param.email">
          please enter a valid email address
        </span>
      </div>
      <div>
        <label for="name">password  </label>
        <input  
          [type]="showPassword ? 'text' : 'password'" 
          name="password" 
          id="password"
          formControlName="password"
          #password
        >
        <span *ngIf="authForm.get('password').touched && 
                        !authForm.get('password').valid">
          <span class="help-block" *ngIf="authForm.get('password').errors.required">
            the password field is required
          </span>
          <span class="help-block" *ngIf="authForm.get('password').errors.minlength">
              password must be of at least 3 characters long
          </span>
        </span>
      </div>
      <button 
        type="button" 
        class="btn btn-warning btn-sm"
        (click)="onTogglePassword()"
        >
        {{ showPassword ? 'hide' : 'show' }} password
      </button>
      <hr>
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="!authForm.valid"
        >
        Login
      </button>
    </form>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  