

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand">Job Seeker</a>
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>                        
      </button>
    </div> 
    <div class="navbar-collapse collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}" *ngIf="isAuthenticated">
          <a class="navbar-link" routerLink='/'>Home</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink='/employees' >Employees</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink='/companies' >Companies</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink='/signup' >SignUp</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink='/login' >Login</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink='/my-details' class="glyphicon glyphicon-user"></a>
        </li>
        <li class="dropdown dropdown-menu-right" *ngIf="isAuthenticated" appDropdown>
          <a
            style="cursor: pointer;" 
            class="dropdown-toggle">
            Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu"> 
            <li><a style="cursor: pointer;" (click)="onFetchEmployees()">Fetch Employees</a></li>
            <li><a style="cursor: pointer;" (click)="onFetchCompanies()">Fetch Companies</a></li>
          </ul>
        </li>
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
