
<div class="container">
  <app-message-box *ngIf="errorMessages.length" [messages]="errorMessages" (closeMessages)="onClose()"></app-message-box>
  <h4>{{ index >= 0 ? 'Update' : 'Create' }}</h4>
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form (ngSubmit)="onSubmit(positionForm)"  [formGroup]="positionForm" *ngIf="!isLoading">
    <div class="row">
        <label for="title">title:  </label>
        <input
          type="title"
          name="title"
          id="title"
          formControlName="title"
          #title
        >
        <span class="help-block" *ngIf="!positionForm.get('title').valid && positionForm.get('title').touched">
          please enter a valid email address
        </span>
      </div>
    <div class="row">
      <label for="description">description:  </label>
      <textarea
        name="description"
        id="description"
        formControlName="description"
        #description
        >
        </textarea>
        <span class="help-block" *ngIf="!positionForm.get('description').valid && positionForm.get('description').touched">
          please enter a description
        </span>
    </div>



    <div class="row" formArrayName="requirements">
      <span>requirements:  </span>
      <button type="button" class="btn btn-info btn-sm" (click)="onAddRequirement()">(+) Add Requirement</button>
      <div *ngFor="let requirement of getControls(); let i=index"
              [formGroupName]="i" >

        <label for="requirement">req:  </label>
        <input formControlName="requirement" type="text" name="requirement"/>

        <button class="btn btn-danger btn-sm" type="button" (click)="onRemoveRequirement(i)">X</button>
        <span class="help-block" *ngIf="!getControls()[i].get('requirement').valid &&
                                        getControls()[i].get('requirement').touched">
          The 'req' field is a required one.
        </span>
      </div>
    </div>
    <hr>
    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!positionForm.valid"
    >
      {{ position ? 'Update' : 'Create' }}
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="onCancel()"
      >
      Cancel
    </button>
  </form>
</div>
