

<div class="container">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <app-message-box *ngIf="messages.length" [messages]="messages" (closeMessages)="onClose()"></app-message-box>
    <div *ngIf="allowAdd">
      <a class="btn btn-success" routerLink='create'>
        Add Position
      </a>
    </div>
    <div *ngIf="currUrl[0] === 'my-positions' && !allowAdd">
      <label for="position-list">Choose status list:</label>
      <select [(ngModel)]="selectedList" (ngModelChange)="checkPositionOfUser()">
        <option value="all">All</option>
        <option *ngFor="let status of availableStatus" value="{{status}}">{{ status | titlecase }}</option>
      </select>
    </div>
    <div *ngIf="!isLoading">
      <h3>Positions</h3>
      <app-list-position
        [showStatus]="currUrl[0] === 'my-positions' && !allowAdd"
        [positions]="positions"
        [detailsPositionUrl]="detailsPositionUrl">
      </app-list-position>
    </div>
  </div>


