
<div class="container form-container">
  <div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form (ngSubmit)="onSubmit(employeeForm)" [formGroup]="employeeForm" *ngIf="!isLoading" class="my-form">

    <header class="form-title-container">
      <h3 class="form-action-title">Update Details</h3>
    </header>

    <app-message-box
      *ngIf="messages.length && !isLoading"
      [messages]="messages"
      (closeMessages)="onClose()">
    </app-message-box>

    <div class="form-group">
      <label for="email">Email: <abbr title="required" aria-label="required">*</abbr> </label>
      <input
        placeholder="Email *"
        class="form-control input-form-tag"
        type="email"
        name="email"
        id="email"
        formControlName="email"
        #email
      >
      <span class="help-block" *ngIf="!employeeForm.get('email').valid && employeeForm.get('email').touched">
        Please enter a valid email address.
      </span>
    </div>

    <div class="form-group">
      <label for="firstName">First Name:  </label>
      <input
        placeholder="First Name"
        class="form-control input-form-tag"
        type="text"
        name="firstName"
        id="firstName"
        formControlName="firstName"
        #firstName
        >
      <span *ngIf="!employeeForm.get('firstName').valid && employeeForm.get('firstName').touched">
        <span class="help-block" *ngIf="employeeForm.get('firstName').errors.minlength">
          The first name must be of at least 2 characters long.
        </span>
      </span>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:  </label>
      <input
        placeholder="Last Name"
        class="form-control input-form-tag"
        type="text"
        name="lastName"
        id="lastName"
        formControlName="lastName"
        #lastName
      >
      <span *ngIf="!employeeForm.get('lastName').valid && employeeForm.get('lastName').touched">
        <span class="help-block" *ngIf="employeeForm.get('lastName').errors.minlength">
          The last name must be of at least 2 characters long.
        </span>
      </span>
    </div>

    <div formGroupName="passwords" class="form-group">
      <div class="form-group password-input-container">
        <label for="name">Password  </label>
        <input
          placeholder="Password"
          class="form-control input-form-tag"
          [type]="showPasswords ? 'text' : 'password'"
          name="password"
          id="password"
          formControlName="password"
          #password
        >
        <span (click)="onTogglePasswords()"
              class="{{ showPasswords ? 'glyphicon glyphicon-eye-close show-password-eye' :
                                        'glyphicon glyphicon-eye-open show-password-eye' }}">
        </span>
        <span *ngIf="employeeForm.get('passwords.password').touched &&
                        !employeeForm.get('passwords.password').valid">
          <span class="help-block" *ngIf="employeeForm.get('passwords.password').errors.required">
            The password field is required.
          </span>
          <span class="help-block" *ngIf="employeeForm.get('passwords.password').errors.minlength">
              The password must be of at least 3 characters long.
          </span>
        </span>
      </div>
      <div>
        <label for="name">Confirm Password  </label>
        <input
          placeholder="Confirm Password"
          class="form-control input-form-tag"
          [type]="showPasswords ? 'text' : 'password'"
          name="confirmPassword"
          id="confirmPassword"
          formControlName="confirmPassword"
        >
        <span *ngIf="employeeForm.get('passwords.password').touched &&
                employeeForm.get('passwords.confirmPassword').touched &&
                employeeForm.get('passwords.password').valid &&
                !employeeForm.get('passwords').valid">
          <span class="help-block" *ngIf="employeeForm.get('passwords').errors.equality">
            The passwords fields must be identical.
          </span>
        </span>
      </div>
    </div>

    <hr>

    <div class="employee-profile-image-container">
      <header>
        <h4>Profile Image</h4>
      </header>
      <input type="checkbox" class="form-check-input" #deleteImage>
      <label class="form-check-label" for="deleteImage">Delete Last Uploaded Image?</label>
      <app-image-cropper
        (confirmedImageEvent)="onCroppedEvent($event)"
        [aspectRatio]="1 / 1"
        [roundCropper]='true'
        [imagePreview]="profileImage.stringFile">
      </app-image-cropper>
    </div>

    <hr>

    <div class="edit-buttons-container">
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="!employeeForm.valid">
        Update
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
