.applicant-position {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.position-link {
  display: flex;
  justify-content: center;

  &.with-status {
    justify-content: space-between;
  }
}

.position-title {
  margin: 0;
}

.status-action-buttons {
  justify-self: flex-end;
  display: flex;
  flex-direction: column;

  button {
    margin: 0.25rem 0;
  }
}
