


<div class="container">
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div *ngIf="allowAdd">
    <a class="btn btn-success" routerLink='create'>
      Add Position
    </a>
  </div>
  <div *ngIf="!isLoading">
    <div>
      <h3 *ngIf="!companyPositions">Positions</h3>
      <h4 *ngIf="companyPositions">Positions</h4>
      <app-message-box *ngIf="errorMessages.length" [messages]="errorMessages" (closeMessages)="onClose()"></app-message-box>
      <ul class="list-group" *ngIf="positions && positions.length && !errorMessages.length">
        <li
          class="list-group-item"
          *ngFor="let position of positions; let i=index">
          <a routerLink='{{ companyPositions && companyPositions.length ? "position" : i}}'
              [state]="{ positionInd : i }">
            <p>Title: {{ position.title }}</p>
          </a>
        </li>
      </ul>
      <p *ngIf="!positions || !positions.length && !errorMessages.length">There are no open positions</p>
    </div>
  </div>
</div>
