



<ul class="list-group" *ngIf="positions && positions.length">
  <li class="list-group-item {{ applicantPositions ? 'applicant-position' : '' }}"
      *ngFor="let positionInfo of positions; let i=index; trackBy: positionsTracker">

    <ng-container *ngIf="applicantPositions; else links">
      <h4 class="position-title">{{ positionInfo.title ? positionInfo.title : positionInfo['position'].title }}</h4>
      <p class="position-status">{{ positionInfo.status }}</p>
      <div class="status-action-buttons">
        <button class="btn btn-danger btn-sm" (click)="onAcceptReject('rejected', i)"
          *ngIf='positionInfo.status.toString() !== "rejected"'>Reject?</button>
        <button class="btn btn-success btn-sm" (click)="onAcceptReject('accepted', i)"
          *ngIf='positionInfo.status.toString() !== "accepted"'>Accept?</button>
      </div>
    </ng-container>

    <ng-template #links>
      <a class="position-link {{ showStatus ? 'with-status' : '' }}" [state]="{ positionInd : i }"
        routerLink='{{ companyPositions && positions.length ? "position" : detailsPositionUrl + i }}'>
        <p class="position-title">{{ positionInfo.title ? positionInfo.title : positionInfo['position'].title }}</p>
        <p class="position-status" *ngIf="showStatus">{{ positionInfo.status }}</p>
      </a>
    </ng-template>
  </li>
</ul>
<p *ngIf="!positions || !positions.length">There are no open positions.</p>






